@font-face {
  font-family: UTM;
  src: url("../font/UTM_BryantLG.ttf"); }
@font-face {
  font-family: main-font;
  src: url("../font/UTM_BryantLG.ttf"); }
@-webkit-keyframes slideShow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slideShow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes slideShowFixHidden {
  from {
    left: 0; }
  to {
    left: 100%; } }
@keyframes slideShowFixHidden {
  from {
    left: 0; }
  to {
    left: 100%; } }
@-webkit-keyframes slideShowFix {
  from {
    left: -100%; }
  to {
    left: 0; } }
@keyframes slideShowFix {
  from {
    left: -100%; }
  to {
    left: 0; } }
.fix-hover, .btn-banner-cus:hover {
  text-decoration: none;
  background-color: #b2d235;
  color: white; }

.main-font {
  font-family: main-font;
  font-style: normal;
  letter-spacing: -0.05em;
  color: #ffffff; }

ul {
  list-style-type: none; }

.text-fix {
  -webkit-text-stroke-width: 2px; }

.container-fluid .navbar-nav .nav-item {
  font: normal bold 14px/19px Open Sans;
  -webkit-text-stroke-width: 0.3px;
  color: #505353; }
  .container-fluid .navbar-nav .nav-item:hover {
    background-color: #b2d235;
    border-radius: 15px;
    color: white; }
.container-fluid .navbar-toggler:focus {
  border-radius: 50%;
  background-color: #cccaca;
  outline: none; }

.navbar-nav a.text-dark.nav_item :hover {
  background-color: #b2d235;
  border-radius: 15px;
  color: white; }

.hapo-wrap-slide .hapo-slide-desc .hapo-slide-desc-slogan {
  font: 50px/61px UTM;
  letter-spacing: -0.05em;
  color: #11114e; }

.hapo-wrap-slide .background-banner {
  height: auto; }

.hapo-slide-desc-slogan b {
  font-weight: bold;
  letter-spacing: 0; }

.hapo-slide-desc-slogan-det {
  font: 20px/25px UTM;
  letter-spacing: -0.05em;
  color: #505353; }

.btn-banner-cus {
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  color: #ffffff;
  font: normal bold 30px/70px UTM;
  background-color: #b2d235;
  -webkit-text-stroke-width: 1px; }
  .btn-banner-cus:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.hapo-wrap-space {
  height: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#b6b2b2), to(#ffffff));
  background-image: linear-gradient(0, #b6b2b2, #ffffff); }

.row-one {
  position: relative;
  top: -104px; }
  .row-one .course-left img {
    width: auto;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 12% 20%;
    background-color: #3f6185; }
  .row-one .course-center img {
    width: auto;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 12% 20%;
    background-color: #dc594c; }
  .row-one .course-right img {
    width: auto;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 12% 20%;
    background-color: #556598; }

.row-four .course-left img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 12% 20%;
  background-color: #24abe2;
  height: 209px; }
.row-four .course-center img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 12% 20%;
  background-color: #e14e40;
  height: 209px; }
.row-four .course-right img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 12% 20%;
  background-color: #1b75bb;
  height: 209px; }

.container .card {
  background-color: transparent;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 15px 15px; }
  .container .card .card-text {
    font: normal bold 14px/20px UTM; }

.container .card .card-title {
  font: normal bold 30px/37px UTM;
  color: #b2d235;
  -webkit-text-stroke-width: 1px; }
.container .card .btn-cus {
  -webkit-box-shadow: inset 0px 1.5px 2px #6f8710;
          box-shadow: inset 0px 1.5px 2px #6f8710;
  border-radius: 22px;
  letter-spacing: 0.06rem;
  background-color: #b2d235;
  font-family: UTM;
  -webkit-text-stroke-width: 1px; }
  .container .card .btn-cus:hover {
    opacity: 0.8; }

.heading-main, .hapo-wrap-courses-row .text-fix, .hapo-wrap-feedback .hapo-wrap-feedback-heading .hapo-feedback-heading, .hapo-wrap-statistic .hapo-feedback-heading {
  margin: auto;
  color: #11114e;
  font: normal bold 75px/98px UTM; }

.hapo-wrap-courses-row {
  width: 85%;
  position: relative;
  top: -104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto; }

.hapo-row-two .other-courses {
  border-bottom: 5px solid #b2d235; }

.hapo-row-four {
  color: #b2d235;
  letter-spacing: -0.02em; }
  .hapo-row-four .hapo-all-course {
    font: bold 40px/49px UTM;
    color: #90ab26; }
    .hapo-row-four .hapo-all-course:hover {
      text-decoration: none; }
  .hapo-row-four .hapo-other-courses:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.hapo-wrap-inf {
  background: url("../image/background_inf.png");
  background-size: cover;
  position: relative; }
  .hapo-wrap-inf .hapo-inf-left {
    position: absolute;
    top: -222px; }
  .hapo-wrap-inf .hapo-inf-right {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    position: relative;
    top: -40px; }
  .hapo-wrap-inf .hapo-content-heading {
    color: white;
    font: normal bold 70px/86px UTM;
    margin-bottom: 20px;
    position: relative;
    top: 180px; }
  .hapo-wrap-inf .container {
    padding: 90px 0; }
  .hapo-wrap-inf ul {
    position: relative;
    top: 30px; }
    .hapo-wrap-inf ul li {
      margin: 10px 0 10px 30px;
      color: white;
      font: 20px/25px UTM; }

.hapo-wrap-feedback {
  padding-top: 104px; }
  .hapo-wrap-feedback .hapo-wrap-feedback-heading .hapo-feedback-heading {
    border-bottom: 5px solid #b2d235;
    text-align: center; }
  .hapo-wrap-feedback .hapo-feedback-det {
    text-align: center;
    font: 25px/31px UTM;
    color: #505353;
    margin: 23px auto 40px auto;
    text-shadow: 0.1px 0.1px 0.01px; }

/* feedback */
.hapo-wrap-feedback-users {
  height: 200px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hapo-wrap-feedback-users .hapo-feedback-user .hapo-wrap-feedback-content {
    height: 163.47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    text-align: center;
    border: 0.5px solid #e2e2e2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    padding: 0 15px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.25); }
  .hapo-wrap-feedback-users .hapo-feedback-user .hapo-feedback-user-content {
    width: 97%;
    height: 100px;
    font: 16px/20px UTM;
    letter-spacing: -0.05em;
    border-left: 7px solid #d9dadc;
    padding: 10px;
    -webkit-text-stroke-width: 0.3px; }

.hapo-feedback-user .hapo-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px; }
  .hapo-feedback-user .hapo-message .hapo-user-inf {
    margin-left: 10px; }
    .hapo-feedback-user .hapo-message .hapo-user-inf .hapo-user-name,
    .hapo-feedback-user .hapo-message .hapo-user-inf .hapo-courses-name,
    .hapo-feedback-user .hapo-message .hapo-user-inf .hapo-like {
      text-shadow: 0.1px 0.1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 3px auto; }
    .hapo-feedback-user .hapo-message .hapo-user-inf .hapo-user-name {
      color: #11114e; }
    .hapo-feedback-user .hapo-message .hapo-user-inf .hapo-courses-name {
      color: #505353; }
.hapo-feedback-user .tooltip-cus {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #ffffff;
  border-top: 0.5px solid #e2e2e2;
  border-left: 0.5px solid #e2e2e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  bottom: -9px;
  left: 19px; }

.hapo-wrap-feedback-users {
  position: relative; }

.hapo-wrap-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hapo-left-right {
  position: absolute;
  margin-top: 70px;
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .hapo-left-right .left_icon,
  .hapo-left-right .right_icon {
    cursor: pointer; }
    .hapo-left-right .left_icon:hover,
    .hapo-left-right .right_icon:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }

.hapo-wrap-learn {
  padding: 10% 0;
  margin-top: 110px;
  background: url(../image/background7.png) no-repeat center;
  background-size: cover; }
  .hapo-wrap-learn .hapo-content-learn .hapo-learn-heading {
    font: normal bold 60px/74px UTM;
    text-align: center;
    color: #ffffff; }

.hapo-content-learn .hapo-button-learn .hapo-learn-link {
  margin: 15px auto auto auto;
  background-color: #ffffff;
  color: #b2d235;
  font: normal bold 30px/70px UTM;
  letter-spacing: -0.05em;
  -webkit-text-stroke-width: 0; }

.hapo-wrap-statistic .hapo-feedback-heading {
  border-bottom: 5px solid #b2d235; }

.hapo-static-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hapo-static-data .hapo-statistic-name {
    color: #505353; }
  .hapo-static-data .hapo-statistic-name,
  .hapo-static-data .hapo-statistic-data {
    text-align: center;
    font: normal bold 60px/74px main-font;
    letter-spacing: -0.05em; }
  .hapo-static-data .hapo-statistic-data {
    color: #b2d235; }

.container-wrap {
  background-color: #505353; }
  .container-wrap .hapo-logo-footer .footer-det {
    color: white;
    font: 20px/25px UTM; }
  .container-wrap .hapo-footer-wrap-list .hapo-footer-list-page {
    margin: 0 10px; }
  .container-wrap .hapo-footer-wrap-list .hapo-list-item {
    margin: 20px auto;
    font: bold 20px/25px UTM; }
  .container-wrap .hapo-list-item a {
    color: white; }
    .container-wrap .hapo-list-item a:hover {
      text-decoration: underline; }

.hapo-wrap-contact .hapo-face-link {
  margin: auto 15px; }
  .hapo-wrap-contact .hapo-face-link:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.wrap-copy {
  background-color: #454545; }
  .wrap-copy .container {
    color: white;
    padding: 10px 0;
    font: 15px/18px UTM; }

.text-mes, .hapo-fixed .hapo-wrap-content-mes .hapo-user, .hapo-fixed .hapo-wrap-content-mes .det-message {
  font: normal 600 12px/16px Open Sans;
  letter-spacing: -0.02em;
  color: #7f7f7f; }

.hapo-fixed {
  position: fixed;
  right: 20px;
  bottom: 90px; }
  .hapo-fixed .hapo-wrap-content-mes {
    background-color: white;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    display: none; }
    .hapo-fixed .hapo-wrap-content-mes .hapo-user {
      padding: 2px 6px 0 60px; }

.hapo-close {
  margin-left: 200px;
  cursor: pointer; }
  .hapo-close:hover {
    opacity: 0.6; }

.hapo-wrap-message-content .hapo-user-image {
  height: 30px; }
.hapo-wrap-message-content .hapo-message-content {
  background: #f1f0f0;
  border-radius: 15px;
  font: bold 12px/17px Open Sans;
  letter-spacing: -0.02em;
  color: #505353; }

.hapo-button-message .hapo-button-message-link {
  font: 12px/16px Open Sans;
  color: white;
  background: #3184f7;
  border-radius: 10px;
  color: white; }
  .hapo-button-message .hapo-button-message-link:hover {
    opacity: 0.8;
    text-decoration: none; }

.hapo-wrap-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: -66px;
  background-color: #2774df; }
  .hapo-wrap-icon:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

@media only screen and (max-width: 768px) {
  .coverImage, .row-one .course-left .card-img-top,
  .row-one .course-center .card-img-top,
  .row-one .course-right .card-img-top {
    height: 145px; }

  .hapo-wrap-slide .hapo-slide-desc .hapo-slide-desc-slogan {
    font: 30px/37px UTM; }
  .hapo-wrap-slide .hapo-slide-desc .hapo-slide-desc-slogan-det {
    font: 16px/20px UTM; }
  .hapo-wrap-slide .hapo-slide-desc .btn-banner-cus {
    font: 16px/20px UTM; }

  .hapo-slide-desc-slogan img {
    width: 40px;
    height: 37px; }

  .hapo-wrap-space {
    height: 100px; }

  .row-one {
    position: relative;
    top: -60px; }
    .row-one .course-left,
    .row-one .course-center,
    .row-one .course-right {
      padding: 9px; }

  .hapo-wrap-courses-row .other-courses {
    font: bold 50px/61px UTM; }

  .container-fix {
    margin: auto;
    padding: 0; }

  .container .card .card-title {
    font: normal bold 20px/25px UTM; }
  .container .card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .container .card .btn-cus {
    font: bold 10px/12px UTM; }

  .hapo-wrap-inf .hapo-inf-content {
    padding: 80px 0; }
    .hapo-wrap-inf .hapo-inf-content .hapo-content-heading {
      padding-left: 70px;
      top: -35px;
      display: block;
      text-align: center;
      font: normal bold 50px/61px UTM; }
    .hapo-wrap-inf .hapo-inf-content ul {
      position: relative;
      top: 0; }
    .hapo-wrap-inf .hapo-inf-content li {
      font: 14px/20px UTM; }
  .hapo-wrap-inf .hapo-inf-left {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    top: -250px;
    left: -84px; }
  .hapo-wrap-inf .hapo-inf-right {
    padding: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    top: 0;
    right: 22px; }

  .hapo-row-four .hapo-all-course {
    font: bold 28px/34px UTM; }

  .hapo-wrap-learn .hapo-content-learn .hapo-learn-heading {
    font: normal bold 35px/43px UTM; }

  .hapo-content-learn .hapo-button-learn .hapo-learn-link {
    font: normal bold 20px/25px UTM; }

  .hapo-wrap-feedback .hapo-wrap-feedback-heading .hapo-feedback-heading {
    font: bold 50px/61px UTM; }
  .hapo-wrap-feedback .hapo-feedback-det {
    font: 18px/22px UTM; }

  .hapo-wrap-statistic .hapo-feedback-heading {
    font: bold 50px/61px UTM; }

  .hapo-static-data .hapo-statistic-name {
    font: bold 40px/49px UTM; }
  .hapo-static-data .hapo-statistic-data {
    font: bold 40px/49px UTM; }

  .container-wrap .hapo-logo-footer .hapo-logo-image {
    width: 170px; }
  .container-wrap .hapo-logo-footer .footer-det {
    font: 16px/20px UTM; }
  .container-wrap .hapo-footer-wrap-list {
    padding: 0 0 0 35px; }
    .container-wrap .hapo-footer-wrap-list .hapo-footer-list-page {
      padding: 0;
      margin: 0; }
      .container-wrap .hapo-footer-wrap-list .hapo-footer-list-page .hapo-list-item {
        font: bold 18px/22px UTM; }

  .hapo-wrap-contact .hapo-face-link img {
    width: 40px;
    height: 40px; }

  .hapo-left-right {
    width: 90%; } }
@media only screen and (max-width: 425px) {
  .container-fluid .fix-icon {
    width: 30px;
    height: 30px; }
  .container-fluid .navbar-nav .nav-item {
    color: #505353; }
    .container-fluid .navbar-nav .nav-item:hover {
      background-color: white;
      color: #b2d235; }

  .row-fix {
    margin: 0; }

  .hapo-wrap-slide .wrap-det {
    top: 100%; }
    .hapo-wrap-slide .wrap-det .hapo-slide-desc {
      font: 30px/31px UTM;
      padding: 0 40px; }
  .hapo-wrap-slide .hapo-button-courses {
    text-align: center; }
    .hapo-wrap-slide .hapo-button-courses .btn-banner-cus {
      font: bold 18px/22px UTM; }

  .hapo-wrap-space {
    margin-top: 200px; }

  .hapo-wrap-courses-row .other-courses {
    font: bold 40px/49px UTM; }

  .row-one .course-left,
  .row-one .course-center,
  .row-one .course-right {
    padding: 0 60px 30px 60px; }
    .row-one .course-left .card-img-top,
    .row-one .course-center .card-img-top,
    .row-one .course-right .card-img-top {
      height: 180px; }

  .container .card .btn-cus {
    font: bold 18px/22px UTM; }

  .hapo-row-four .hapo-all-course {
    font: bold 22px/27px UTM; }

  .hapo-wrap-inf .hapo-inf-content {
    padding: 50px 0; }
    .hapo-wrap-inf .hapo-inf-content .hapo-content-heading {
      padding-left: 30px;
      top: 15px;
      font: normal bold 40px/40px UTM; }
    .hapo-wrap-inf .hapo-inf-content .hapo-inf-right {
      -webkit-transform: scale(1);
              transform: scale(1);
      top: 0;
      right: 0; }
    .hapo-wrap-inf .hapo-inf-content .hapo-content {
      margin-top: 20px; }

  .hapo-wrap-feedback .hapo-wrap-feedback-heading .hapo-feedback-heading {
    font: bold 40px/49px UTM; }

  .hapo-wrap-learn .hapo-content-learn .hapo-learn-heading {
    font: 23px/28px UTM;
    letter-spacing: 0.03rem; }

  .hapo-content-learn .hapo-button-learn .hapo-learn-link {
    font: normal bold 18px/22px UTM; }

  .hapo-wrap-statistic .hapo-feedback-heading {
    font: bold 40px/49px UTM; }

  .container-wrap .hapo-logo-footer .hapo-logo-image {
    width: 150px; }
  .container-wrap .hapo-logo-footer .footer-det {
    font: 14px/17px UTM; }
  .container-wrap .hapo-footer-wrap-list .hapo-footer-list-page .hapo-list-item {
    font: bold 17px/21px UTM; }

  .hapo-wrap-contact {
    padding-right: 0; }
    .hapo-wrap-contact .hapo-face-link {
      margin: 0 5px; }
      .hapo-wrap-contact .hapo-face-link img {
        width: 30px;
        height: 30px; }

  .hapo-left-right {
    width: 84%; }

  .hapo-wrap-feedback-users .hapo-feedback-user .hapo-feedback-user-content {
    padding: 0 10px; } }

/*# sourceMappingURL=style.css.map */