@media only screen and (max-width: 768px) {
  .coverImage {
    height: 145px;
  }

  .hapo-wrap-slide {
    .hapo-slide-desc {
      .hapo-slide-desc-slogan {
        font: 30px/37px UTM;
      }

      .hapo-slide-desc-slogan-det {
        font: 16px/20px UTM;
      }

      .btn-banner-cus {
        font: 16px/20px UTM;
      }
    }
  }

  .hapo-slide-desc-slogan {
    img {
      width: 40px;
      height: 37px;
    }
  }

  .hapo-wrap-space {
    height: 100px;
  }

  .row-one {
    position: relative;
    top: -60px;

    .course-left,
    .course-center,
    .course-right {
      padding: 9px;

      .card-img-top {
        @extend .coverImage;
      }
    }
  }

  .hapo-wrap-courses-row {
    .other-courses {
      font: bold 50px/61px UTM;
    }
  }

  .container-fix {
    margin: auto;
    padding: 0;
  }

  .container {
    .card {
      .card-title {
        font: normal bold 20px/25px UTM;
      }

      .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .btn-cus {
        font: bold 10px/12px UTM;
      }
    }
  }

  .hapo-wrap-inf {
    .hapo-inf-content {
      padding: 80px 0;

      .hapo-content-heading {
        top: -35px;
        display: block;
        text-align: center;
        font: normal bold 50px/61px UTM;
      }

      li {
        font: 14px/20px UTM;
      }
    }

    .hapo-inf-left {
      transform: scale(0.6);
      top: -250px;
      left: -84px;
    }

    .hapo-inf-right {
      padding: 0;
      transform: scale(1.2);
      top: 0;
      right: 22px;
    }
  }

  .hapo-wrap-learn {
    .hapo-content-learn {
      .hapo-learn-heading {
        font: normal bold 35px/43px UTM;
      }
    }
  }

  .hapo-content-learn {
    .hapo-button-learn {
      .hapo-learn-link {
        font: normal bold 20px/25px UTM;
      }
    }
  }

  .hapo-wrap-feedback {
    .hapo-wrap-feedback-heading {
      .hapo-feedback-heading {
        font: bold 50px/61px UTM;
      }
    }

    .hapo-feedback-det {
      font: 18px/22px UTM;
    }
  }

  .hapo-wrap-statistic {
    .hapo-feedback-heading {
      font: bold 50px/61px UTM;
    }
  }

  .hapo-static-data {
    .hapo-statistic-name {
      font: bold 40px/49px UTM;
    }

    .hapo-statistic-data {
      font: bold 40px/49px UTM;
    }
  }

  .container-wrap {
    .hapo-logo-footer {
      .hapo-logo-image {
        width: 170px;
      }

      .footer-det {
        font: 16px/20px UTM;
      }
    }

    .hapo-footer-wrap-list {
      padding: 0 0 0 35px;

      .hapo-footer-list-page {
        padding: 0;
        margin: 0;

        .hapo-list-item {
          font: bold 18px/22px UTM;
        }
      }
    }
  }

  .hapo-wrap-contact {
    .hapo-face-link {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .container-fluid {
    .fix-icon {
      width: 30px;
      height: 30px;
    }

    .navbar-nav {
      .nav-item {
        color: #505353;
        &:hover {
          background-color: white;
          color: $button_color;
        }
      }
    }
  }

  .row-fix {
    margin: 0;
  }

  .hapo-wrap-slide {
    .wrap-det {
      top: 100%;

      .hapo-slide-desc {
        font: 30px/31px UTM;
        padding: 0 40px;
      }
    }

    .hapo-button-courses {
      text-align: center;

      .btn-banner-cus {
        font: bold 18px/22px UTM;
      }
    }
  }

  .hapo-wrap-space {
    margin-top: 200px;
  }

  .hapo-wrap-courses-row {
    .other-courses {
      font: bold 40px/49px UTM;
    }
  }

  .row-one {
    .course-left,
    .course-center,
    .course-right {
      padding: 0 60px 30px 60px;

      .card-img-top {
        height: 180px;
      }
    }
  }

  .container {
    .card {
      .btn-cus {
        font: bold 18px/22px UTM;
      }
    }
  }

  .hapo-row-four {
    .hapo-all-course {
      font: bold 22px/27px UTM;
    }
  }

  .hapo-wrap-inf {
    .hapo-inf-content {
      .hapo-content-heading {
        top: 15px;
        font: normal bold 40px/40px UTM;
      }

      .hapo-inf-right {
        transform: scale(1);
        top: 0;
        right: 0;
      }

      .hapo-content {
        margin-top: 20px;
      }
    }
  }

  .hapo-wrap-feedback {
    .hapo-wrap-feedback-heading {
      .hapo-feedback-heading {
        font: bold 40px/49px UTM;
      }
    }
  }

  .hapo-wrap-learn {
    .hapo-content-learn {
      .hapo-learn-heading {
        font: normal bold 23px/28px UTM;
      }
    }
  }

  .hapo-content-learn {
    .hapo-button-learn {
      .hapo-learn-link {
        font: normal bold 18px/22px UTM;
      }
    }
  }

  .hapo-wrap-statistic {
    .hapo-feedback-heading {
      font: bold 40px/49px UTM;
    }
  }

  .container-wrap {
    .hapo-logo-footer {
      .hapo-logo-image {
        width: 150px;
      }

      .footer-det {
        font: 14px/17px UTM;
      }
    }

    .hapo-footer-wrap-list {
      .hapo-footer-list-page {
        .hapo-list-item {
          font: bold 17px/21px UTM;
        }
      }
    }
  }

  .hapo-wrap-contact {
    padding-right: 0;

    .hapo-face-link {
      margin: 0 5px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
